<table class="table" id="table-users">
    <thead>
        <tr>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Documento</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Editar</th>
        </tr>
    </thead>
    <tbody>
        <% for(var i = 0; i < usuarios.length; i++) { %>
            <tr>
                <td><%= usuarios[i].nombres %></td>
                <td><%= usuarios[i].apellidos %></td>
                <td><%= usuarios[i].documento %></td>
                <td><%= usuarios[i].email %></td>
                <td><%= usuarios[i].telefono %></td>
                <td>
                    <a class="btn btn-warning btn_modal" data-table="usuarios" data-id="<%= usuarios[i]._id %>"><i class="fa fa-pencil"></i></a>
                </td>
            </tr>
        <% } %>
    </tbody>
</table>

<script>
    $(document).ready( function () {
        $('#table-users').DataTable();
    });
</script>
